.article{
height: auto;
min-height: 254px;
border-top: 1px solid #e4e4e5;
border-bottom: 1px solid #e4e4e5;
padding-top: 25px;
width: 95%;
}
.top{
    height: 32px;
    border-radius: 50%;
}
.userInfo{
    display: flex;
    align-items: center;
}
.userInfo>img{
    height: 32px;
    object-fit: contain;
    border-radius: 50%;
}
.info>p:hover{
text-decoration: underline;
}
.title{
    margin-top: auto;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #292929;
}
.desc{
    font-size: 16px;
    line-height: 21px;
    color: #999999;
    font-weight: 300;
}
.desc:hover{
    text-decoration: underline;
    color: #292929;
}
