.wrapper{
    padding: 5% 10%;
}
.title{
    color: #ffffff;
    font-size: 45px;
    font-weight: 600;
    line-height: 49px;
}
.description{
    margin: 2% 5%;
}
.description>p{
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    color: #373a3c;
}