.banner{
    max-width: 100vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FDC02C;
    border: 1px solid black;
}
.left{
    flex: .4;
    margin-left: 100px;
}
.right{
    flex: .6;
}

.heading{
    font-size: 85px;
    font-weight: 400;
    color: #080808;
    margin-bottom: 20px;
}
.slogan{
    font-size: 24px;
    font-weight: 400;
    color: #292929;
}
.right{
animation: mmm alternate 3s infinite ease-in-out;
}
@keyframes mmm {
    0%{
        opacity: 1;
        transform: translateX(15px);
    }
    25%{
        opacity: .25;
        transform: translateX(-15px);
    }
    50%{
        /* transform: rotatey(180deg); */
        transform: translateX(15px);
        opacity: .75;
    }
    100%{
        transform: translateX(-15px);
        opacity: 1;
    }

}