.feeds{
    padding: 6% 6%;
    display: flex;
    flex-wrap: wrap;
}
.blogs{
    flex: .7;
}
.tags{
    flex: .3;
}

@media only screen and (max-width: 600px){
    .feeds{
        display: flex;
        flex-direction: column;
    }
}