.navbar{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FDC02C;
    /* border: 2px solid green; */
}
.button:hover{
    background-color: black !important;
}