.tags{    
    background-color: #f2f3f2;
    align-self: auto;
    padding: .3rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    display: inline-block;
    height: fit-content;
}
.tag{
    background-color: #818b90;
    display: inline-block;
    margin: 6px;
    padding: 2px 8px;
    border-radius: 12px;
    color: #f8f8fd;
    line-height: 19px;
    font-size: 13px;
    font-weight: 400;
}
.tag:hover{
    cursor: pointer;
    transform: scale(1.1);
}