.bannerProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}
.banner>img{
    border-radius: 50%;
    margin-bottom: 25px;
}
.banner>p{
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color: #373a3c;
}
.createNew{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin: 20px;
    background-color: #373a3c;
    color: #fcc02d;
    cursor: pointer;
    border-radius: 50%;
    text-decoration: none;
    animation: beatingButton 2s infinite ease-in-out ;
}
@keyframes beatingButton {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }

}
