@import url(https://fonts.googleapis.com/css?family=Martel+Sans:200,300,regular,600,700,800,900);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: "Martel", sans-serif;
    overflow-x: hidden;

}